dones
<table class="table table-bordered border-dark">
 <tbody>
<% @wishes.each do |wish| %>
  <tr>
    <td>
      <%= link_to wish_path(wish.id) do %>
        <%= attachment_image_tag wish, :wish_image , size:'200x200'%>
      <% end %>
    </td>
    <td class="derivery-info"><%= wish.wish_title %></td>
    <td class="derivery-info"><%= wish.memo %></td>
    <td class="text-center">
    </td>
  </tr>
<% end %>
</tbody>
</table>