index
<% @wishes.each do |wish| %>
  <tr>
    <td class="derivery-info"><%= wish.wish_title %></td>
    <td class="derivery-info"><%= wish.memo %></td>

    <td class="text-center">
    </td>
  </tr>
<% end %>